#button-pannel {
    display: flex;
    flex-direction: column;
  }
  
  /* Each row (display and group buttons) should have a height of 100px */
  #button-pannel > div {
    display: flex;
    height: 100px;
  }
  
  