button {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: 1px solid black; /* Button border */
  }
  
  /* Button that represents "0" */
  button.wide {
    width: 50%;
  }
  