#display {
    background-color:#C9C9C9;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align text to the right */
    padding: 0 20px; /* Padding from edges */
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  